.brand-header {
  font-weight: 400;
  font-size: 52px;
  font-family: "Bentham", serif;
}

.brand-text {
  font-family: "Bentham", serif;
  font-size: 28px;
  font-weight: normal;
}

.center-bottom {
  position: absolute;
  bottom: 20%;
  left: 20%;
}

@media (max-width: 1024px) {
  .center-bottom {
    position: absolute;
    bottom: 20%;
    left: 10%;
  }
}

@media (max-width: 992px) {
  .center-bottom {
    width: 100%;
    position: absolute;
    top: 70%;
    left: 0;
  }
}

/* @media screen and (orientation: landscape) {
  .center-bottom {
    position: absolute;
    top: 100%;
    left: 0;
  }
} */

@media only screen and (max-width: 767.9px) {
  .center-bottom {
    position: absolute;
    top: 100%;
    left: 0;
    margin-bottom: 50px;
  }
}

.center-left {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
}

.date-picker-box {
  background: white;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 991.9px) {
  .date-picker-box {
    background: white;
    box-shadow: 0px 10px 15px grey;
  }
}

img {
  height: 100vh;
  width: 100%;
  position: relative;
}

.image-container {
  position: relative;
  /* text-align: center; */
}

.img-header {
  font-family: "Bentham", serif;
  font-weight: normal;
  font-size: 60px;
}

li {
  color: black;
}

.pt-max {
  padding-top: 85px;
}

.spacer {
  margin-left: 50px;
  margin-right: 50px;
}
