/* banner area */
.banner{
  background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url("../img/rsz_lounge.jpg");
  width: 100%;
  height: 83vh;
  background-size: cover;
  background-position: center center;  background-repeat: no-repeat;
  padding: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffafa;
  font-family: 'Poppins', sans-serif;
}
.text{
  width: 90%;
  align-self: flex-start;
  height: 70%;
}
.text .heading{
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
}
.text .paragraph{
  font-size: .9rem;
}
.booking{
  width: 100%;
  max-width: 700px;
  /* border: 1px solid red; */
  display: flex;
  color: black;
  background-color: #fffafa;
  height: 70px;
}
.booking .input, .booking button{
  width: 20%;
}
.booking .input{
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.input label{
  font-size: .55rem;
  font-weight: 600;
  padding: 0;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
.booking input, .booking select{
  width: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
.booking button{
  border: 0;
  outline: none;
  text-transform: uppercase;
  background-color: #808052;
  color: #fffafa;
  font-family: 'Poppins', sans-serif;
  font-size: .8rem;
  cursor: pointer;
}
.booking button:active{
  background-color: #79794f;
}
@media screen and (min-width: 790px){
  .banner{
      height: 85.5vh;
  }
}
@media screen and (max-width: 790px){
  .booking button{
      font-size: .65rem;
  }
}